.top {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}


.container {
    padding: 16px;
    background-color: rgba(0,0,0,0.8);
}

.innercontainer{
    padding: 2%;
    background-color: black;
}

.details{
    text-align: left;
    font-size: 100px;
}

.liset{
    text-align: left;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
    width: 20%;
}


.customerCareimg{
    margin-right: 20px;
    width: 15%;
    border-radius: 100%;
}

.customerCareimg:hover{
    opacity: 0.8;
}

.cCbuttons{
    padding: 1%;
    width: 15%;
    color: black;
    background-color: #678aff;
}

.cCbuttons:hover{
    cursor: pointer;
    background-color: black;
    color: #678aff;
    transition-duration: 0.4s;
}

.profiles{
    width: 20%;
    border-radius: 100%;
    margin-bottom: 2%;
    margin-right: 4%;
    margin-left: 4%;
}

.profiles:hover{
    cursor: pointer;
    opacity: 0.8;
    transition-duration: 0.5s;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}


.modal-content {
    width: 80%;
}


.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}