.active1 {
    background-color : #b00101;
}

.lg a {
    display : block;
    color : white;
    text-align : center;
    padding : 12px;
    padding-left: 1px;
    text-decoration : none;
}

.profile a {
    display : block;
    color : white;
    text-align : center;
    padding : 12px;
    padding-left: 1px;
    text-decoration : none;
}

.sign{
    float: right;
    border-radius: 15px;
    line-height: 30px;
    margin:5% 10px 50px 0px;
    border: 1px solid black;
    background:rgba(255,255,255,.6);
}

.sign input[type = submit]{
    float: right;
    width: 30%;
    height: 40px;
}


#maincontainer1 .left{
    width: 15%;
    padding-left: 10px;
    margin-right: 4%;
}

#maincontainer1 .right {
    width: 15%;
    float: right;
    padding: 20px 5px 20px 0px;
    margin-left: 2%;
}

#maincontainer1 .middle {
    padding:5% 2% 0px 2%;
    width: 55%;
    height: 100%;
    background:rgba(0,0,0,.7);
}

.fling-minislide {width: 100%; height: 400px; overflow:hidden; position:relative; }
.fling-minislide img{ position:absolute; animation:fling-minislide 20s infinite; opacity:0; width: 100%; height: auto;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}} 
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:5s;}
.fling-minislide img:nth-child(2){animation-delay:10s;}
.fling-minislide img:nth-child(1){animation-delay:15s;}

.column{
    float: left;
}

.whatsnew{
    margin: 5% 10px 10px 10px;
    font-size: 15px;
}

.whatsnew a{
    font-size : 18px;
}

div a{
    text-decoration: underline;
}

.div_button1{
    color: black;
    margin-left: 25%;
    margin-bottom: 3%;
    width: 60%;
    height: 35px;
    background: #4CAF50;
    border: 1px solid #4CAF30;
    cursor: pointer;
}

.div_button1:hover{
    color: white;
    background-color: #4CAF50;
    opacity: 0.8;
}

.div_button2{
    margin-left: 30%;
    margin-bottom: 3%;
    width: 60%;
    height: 35px;
    background: #4CAF50;
    border: 1px solid #4CAF30;
    cursor: pointer;
}

.div_button2:hover{
    color: white;
    background-color: #4CAF50;
    opacity: 0.7;
}

.div_button3{
    margin-left: 30%;
    margin-bottom: 3%;
    width: 60%;
    height: 35px;
    background: #4CAF50;
    border: 1px solid #4CAF30;
    cursor: pointer;
}

.div_button3:hover{
    color: white;
    background-color: #4CAF50;
    opacity: 0.7;
}

.image_left{
    color: white;
    width:20%;
    border-radius: 25px;
    margin : 3% 20% 2% 0px;
}

.image_left img{
    border: 1px solid black;
    border-radius: 25px;
}

.image_middle{
    color: white;
    width:20%;
    height: 250px;
    margin: 3% 0px 2% 0px;
}

.image_middle img{
    border: 1px solid black;
    border-radius: 25px;
}

.image_right{
    color:white;
    width:20%;
    margin: 3% 0px 2% 20%;
}

.image_right img{
    border: 1px solid black;
    border-radius: 25px;
}

.pagin{
    display: inline-block;
    margin: 15px 0 15px 0;
}

.pagin a{
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

.pagin a .active{
    background-color: #f83296;
    color: white;
}

.pagin a:hover{
    transition-duration: 0.4s;
    color: black;
    background-color: lightgray;
}