.topic_PS{
    color: white;
}

.set1left{
    float: left;
    width: 35%;
    margin-left: 10%;
    margin-bottom: 2%;
    border : 1px solid black;
    height: 250px;
    padding : 3% 0 3% 2%;
    background:rgba(255,255,255,.5);
}

.setrow1 img{
    width: 25%;
}

.setrow2 img{
    width: 25%;
}

.set1right{
    float: right;
    width: 35%;
    margin-right: 10%;
    margin-bottom: 2%;
    border : 1px solid black;
    height: 250px;
    padding : 3% 0 3% 2%;
    background:rgba(255,255,255,.5);
}

.set2left{
    float: left;
    width: 35%;
    margin-left: 10%;
    margin-bottom: 1%;
    border : 1px solid black;
    height: 250px;
    padding : 3% 0 3% 2%;
    background:rgba(255,255,255,.5);
}

.set2right{
    float: right;
    width: 35%;
    margin-right: 10%;
    margin-bottom: 1%;
    border : 1px solid black;
    height: 250px;
    padding : 3% 0 3% 2%;
    background:rgba(255,255,255,.5);
}

.setrow1 img{
    padding-top: 10px;
}

.setrow2 img{
    padding-top: 10px;
}

.input_boxes{
    padding: 1%;
    width: 50%;
    font-size: 20px;
    padding-right: 5%;
}

#cancel{
    width: 100px;
    height: 40px;
    margin-right: 2%;
}

#cancel:hover{
    background: linear-gradient(to bottom, #999966 0%, #ffffff 100%);
}

#submit:hover{
    background: linear-gradient(to bottom, #999966 0%, #ffffff 100%);
}


#submit{
    width: 100px;
    height: 40px;
    margin-right: 2%;
}

.buttonset{
    margin: 1% 5% 2% 0;
    width: 16%;
}
