.frame
{
    color: white;
    margin-left: 17%;
    margin-bottom: 100px;
    border-radius: 15px;
    line-height: 30px;
    font-size: 15px;
    width: 60%;
    float: left;
    padding: 75px 50px 75px 0px;
    background:rgba(0,0,0,.5);
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.frame .topic_form{
    font-size: 70px;
    font-weight: bold; 
}

.frame label{
    font-size: 20px;
}

.frame .label_position{
    float: right;
    margin-right: 30px;
}


.frame input[type = text]
{
    float: right;
    margin: auto;
    padding: 5px;
    width: 40%;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    height: 16px;
    background:rgba(255,255,255,.7);
}

.frame input[type = submit]{
    background-color: maroon;
}

.frame input[type = submit]:hover{
    transition-duration: 0.4s;
    background-color: white;
}

.frame select:hover{
    background-color: white;
}


.frmButton
{
    margin: auto;
    padding: 5px;
    background: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    width: 120px;
    height: 50px;
    border-color: black;
}
.frmButton:hover
{
    background-color: gray;
    border-width: 0px;
}
