html, body {
    width: 100%;
    margin: 0;
    background-size: cover;
}


#maincontainer{
    margin-top: 100px;
}

.left{
    float: left;
}

.right{
    float: right;
}

/*Navigation bar decorations*/

.lg {
    list-style-type: none;
    margin : 0;
    padding : 0;
    overflow : hidden;
    opacity: 5;
    font-weight: bold;
    font-size: 17px;
    width: 120px;
    width: 120px;
    float : right;
}

.lg a {
    display : block;
    color : white;
    text-align : center;
    padding : 12px;
    padding-left: 1px;
    text-decoration : none;
}

.lg a:hover {
    background-color : red;
    transition-duration: 0.5s;
}

.profile {
    list-style-type: none;
    margin : 0;
    padding : 0;
    overflow : hidden;
    opacity: 5;
    font-weight: bold;
    font-size: 17px;
    width: 120px;
    float : right;
}
.profile a {
    display : block;
    color : white;
    text-align : center;
    padding : 12px;
    padding-left: 1px;
    text-decoration : none;
}

.profile a:hover {
    background-color : blue; 
    transition-duration: 0.5s;
}



#heading_ul {
    list-style-type: none;
    margin : 0;
    padding : 0;
    overflow : hidden;
    background:rgba(0,0,0,.8);
}

#header_li {
    font-weight: bold;
    font-size: 17px;
    width: 130px;
    float : left;
  /*  border-right : 1px solid #bbb;*/
}

#header_li a {
	padding: 12px;
    display : block;
    color : white;
    text-align : center;
    padding-left: 1px;
    text-decoration : none;
}

#header_li a:hover {
    background-color : red;
}

.active {
    background-color : #b00101;
}

/*End of navigation decoration*/

/*header*/

.header1 {
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background:rgba(0,0,0,0.9);
}

.header1 table td{
    padding-right: 10px;
    font-size: 20px;
    color: white;
}

/*gift bay*/

.topic {
    font-size : 100px;
    color: red;
}

/*All categories*/

.navbar {
    background:rgba(0,0,0,.8);
    font-family: Arial, Helvetica, sans-serif;
}

.dropDownbtn{
    
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropDown{
    position: relative;
    display: inline-block;
    width: 150px;
}

.dropDown-content{
    display: none;
    position: absolute;
    background:rgba(0,0,0,.9);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropDown-content a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropDown-content a:hover{
    background-color: #b00101;
    width: 120px;
}

.dropDown:hover .dropDown-content{
    display: block;
}

.dropDown:hover .dropDownbtn{
    background-color: #b00101;
}

.search{
    color: black;
    background:rgba(255,255,255,.8);
    width: 100%;
    height: 25px;
    border: 1px solid white;
    border-radius: 10px;
}

.search:hover{
    transition-duration: 0.4s;
    background-color: white;
}

.position{
    width: 15%;
    margin: 9px 25px 12px 12px;
}


/*Create footer*/
.cart
{
    float : right;
    padding : 3.5% 5px 0px 0px;
}

.allcategories{
    height: 30px;
    width: 200px;
}

div a {
    float : left;
    text-decoration: none;
    color: black;
}

.vl{
    border-left: 2px solid white;
    height: 100px;
    float: right;
}

.footerhr{
    border-style: solid ;
    color: white;
    width: 400px;
    float: left;
}

.footercontainer0
{
    color: white;
    width: 100%;
    border: 1px solid black;
    float: left;
    background:rgba(0,0,0,.8);
}

.footercontainer1
{
    color: white;
    width: 60%;
    float: left;
}

.footercontainer1 table{
    border-right-style:solid;
    border-right-width: 2px;
    border-right-color: white;
    height: 165px;
}

.footercontainer2
{
    color: white;
    padding: 0 20px 0 0;
    float: right;
}

.footercontainer0 table label{
    font-size: 18px;
}

.footercontainer0 table{
    margin: 10px 0px 10px 0px;
}

.footercontainer0 i{
     font-size: 25px;
     color:white;
     float: right;
     margin-right: 5px;
}

.footercontainer1 table a{
    color: white;
    text-decoration:none;
}

.footercontainer2 img{
    margin-right: 10px;
}

.footercontainer2 img:hover{
    transition-duration: 0.3s;
    opacity: 0.5;
}